@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Prompt&display=swap');

body {
    background-color: #111111;
    font-size: 100%;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 400;
    color: #f9f9f9;
    padding: 0;
    margin: 0;
}

.container {
    width: 40%;
    margin: 0 auto;
}

.header {
    width: 100%;
    margin: 0 auto;
}

.navlist {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding-inline-start: 0;
    margin: 0;
}

.navitem {
    padding: 0.5rem 15%;
    border-style: solid;
    margin: 0;
}


p {
    font-size: large;
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: xx-large;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    color: #C1110E;
    margin-top: 80px;
    margin-bottom: 30px;
}

h2 {
    font-size: x-large;
    font-family: 'Prompt', sans-serif;
    font-weight: 900;
    color: #F7F052;
    margin-top: 30px;
    margin-bottom: 30px;
}

h3 {
    font-family: 'Prompt', sans-serif;
    font-weight: 600;
    color: #F7F052;
    margin-top: 40px;
    margin-bottom: 20px;
}

li {
    font-size: large;
    margin-top: 20px;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
}

@media (max-width: 900px){
	.container {
        width: 60%;
		margin: 0 auto;
	}
}
@media (max-width: 660px){
	.container {
        width: 80%;
		margin: 0 auto;
	}
}