@import url('https://fonts.googleapis.com/css2?family=Hind+Guntur&family=Prompt&display=swap');

body {
    background-color: #111111;
    font-size: 100%;
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 400;
    color: #f9f9f9;
    margin: auto 30%;
}

p {
    font-size: large;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

img {
    max-width: 100%;
}

@media (max-width: 660px){
	body {
		margin: auto 20px !important;
	}
}